<a href="https://colab.research.google.com/github/rrodrigo11/PythonOOP/blob/master/pandas/10_Minutes_to_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import numpy as np

In [25]:
#Scalar value will duplicate until the index values are fullfilled
print( pd.Series(5, index=['A','B','C','D']))
print(pd.Series(np.random.randn(4), index=['A','B','C','D']))

A    5
B    5
C    5
D    5
dtype: int64
A   -0.339720
B   -0.119428
C   -0.538424
D   -1.005569
dtype: float64

In [26]:
#Basic Pandas.Series example
s = pd.Series([1, 3, 5, np.nan, 6, 8])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [27]:
#Pandas.Series example created from Py.Dictionary, using index:value
d = {"b": 1, "a": 0, "c": 2}
print(pd.Series(d))
print(pd.Series(d, index = ['d','c','a','b']))

b    1
a    0
c    2
dtype: int64
d    NaN
c    2.0
a    0.0
b    1.0
dtype: float64

In [28]:
dates = pd.date_range("20220801", periods=7)
print(dates)

DatetimeIndex(['2022-08-01', '2022-08-02', '2022-08-03', '2022-08-04',
               '2022-08-05', '2022-08-06', '2022-08-07'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(7,2), index=dates, columns=list("AB"))
print(df)

                   A         B
2022-08-01  0.361417 -0.689037
2022-08-02  0.296788 -0.440572
2022-08-03 -0.123407 -0.024023
2022-08-04  0.610349  0.686127
2022-08-05 -0.173310 -2.285559
2022-08-06  1.641906  1.181904
2022-08-07 -0.586304  0.787761

In [30]:
#Creating a DataFrame from a Py.Dictionary
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
print(df2)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [31]:
#My example, creating a dictionary of city sport teams
# 2 list, part of main list. [index]:[value]
cities = ['Colorado', 'Boston', 'Minnesota', 'Milwaukee', 'Seattle']
teams = ['Rockies', 'Red Sox', 'Twins', 'Brewers', 'Mariners']
dict_temp = {'City':cities, 'Team':teams}
df3 = pd.DataFrame(dict_temp, columns=['Team', 'City'])
print(df3)

       Team       City
0   Rockies   Colorado
1   Red Sox     Boston
2     Twins  Minnesota
3   Brewers  Milwaukee
4  Mariners    Seattle