<a href="https://colab.research.google.com/github/rrodrigo11/PythonOOP/blob/master/pandas/indexing%26selecting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexing & Selecting Data from pandas data Structures

In [4]:
import pandas as pd
import numpy as np

In [6]:
dates = pd.date_range('1/1/2000', periods=8)
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

                   A         B         C         D
2000-01-01  2.457702  0.087644 -1.136944 -0.568316
2000-01-02 -1.197475  0.255710  1.544634 -0.202190
2000-01-03  0.319810 -0.750587  0.414433 -0.061906
2000-01-04  1.051408  0.151994  1.431890  0.295545
2000-01-05 -0.406875 -0.532839 -0.657842 -0.298136
2000-01-06 -0.976833  0.083463 -0.740287  1.239744
2000-01-07  0.590405  0.562650  0.809007  0.679024
2000-01-08 -0.730953 -1.953700  1.368401 -1.350612

># Using basic [] for Dataframe

In [18]:
#moving data from A to B
df[['B','A']] = df[['A','B']]
df

                   A         B         C         D  Z
2000-01-01  0.087644  2.457702 -1.136944 -0.568316  0
2000-01-02  0.255710 -1.197475  1.544634 -0.202190  1
2000-01-03 -0.750587  0.319810  0.414433 -0.061906  2
2000-01-04  0.151994  1.051408  1.431890  0.295545  3
2000-01-05 -0.532839 -0.406875 -0.657842 -0.298136  4
2000-01-06  0.083463 -0.976833 -0.740287  1.239744  5
2000-01-07  0.562650  0.590405  0.809007  0.679024  6
2000-01-08 -1.953700 -0.730953  1.368401 -1.350612  7

># Using .loc method to select by labeling

In [12]:
df.loc[:, ['A', 'B']] = df[['B', 'A']].to_numpy()
df

                   A         B         C         D
2000-01-01  2.457702  0.087644 -1.136944 -0.568316
2000-01-02 -1.197475  0.255710  1.544634 -0.202190
2000-01-03  0.319810 -0.750587  0.414433 -0.061906
2000-01-04  1.051408  0.151994  1.431890  0.295545
2000-01-05 -0.406875 -0.532839 -0.657842 -0.298136
2000-01-06 -0.976833  0.083463 -0.740287  1.239744
2000-01-07  0.590405  0.562650  0.809007  0.679024
2000-01-08 -0.730953 -1.953700  1.368401 -1.350612

In [14]:
df['Z'] = list(range(len(df.index)))
df

                   A         B         C         D  Z
2000-01-01  2.457702  0.087644 -1.136944 -0.568316  0
2000-01-02 -1.197475  0.255710  1.544634 -0.202190  1
2000-01-03  0.319810 -0.750587  0.414433 -0.061906  2
2000-01-04  1.051408  0.151994  1.431890  0.295545  3
2000-01-05 -0.406875 -0.532839 -0.657842 -0.298136  4
2000-01-06 -0.976833  0.083463 -0.740287  1.239744  5
2000-01-07  0.590405  0.562650  0.809007  0.679024  6
2000-01-08 -0.730953 -1.953700  1.368401 -1.350612  7

> # Way of accesing by index label to a dataframe using iloc

In [15]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x.iloc[1] = {'x': 9, 'y': 99}
x

   x   y
0  1   3
1  9  99
2  3   5

In [17]:
x["z"] = [6,7,8]
x

   x   y  z
0  1   3  6
1  9  99  7
2  3   5  8

> # Slicing ranges using []

In [20]:
df[:5]

                   A         B         C         D  Z
2000-01-01  0.087644  2.457702 -1.136944 -0.568316  0
2000-01-02  0.255710 -1.197475  1.544634 -0.202190  1
2000-01-03 -0.750587  0.319810  0.414433 -0.061906  2
2000-01-04  0.151994  1.051408  1.431890  0.295545  3
2000-01-05 -0.532839 -0.406875 -0.657842 -0.298136  4

In [21]:
df[::2]

                   A         B         C         D  Z
2000-01-01  0.087644  2.457702 -1.136944 -0.568316  0
2000-01-03 -0.750587  0.319810  0.414433 -0.061906  2
2000-01-05 -0.532839 -0.406875 -0.657842 -0.298136  4
2000-01-07  0.562650  0.590405  0.809007  0.679024  6

In [24]:
df[:3:-1]

                   A         B         C         D  Z
2000-01-08 -1.953700 -0.730953  1.368401 -1.350612  7
2000-01-07  0.562650  0.590405  0.809007  0.679024  6
2000-01-06  0.083463 -0.976833 -0.740287  1.239744  5
2000-01-05 -0.532839 -0.406875 -0.657842 -0.298136  4

> # Pandas purely label based indexing

In [25]:
df1 = pd.DataFrame(np.random.randn(6, 4),index=list('abcdef'),columns=list('ABCD'))
df1

          A         B         C         D
a  0.550067 -1.543896  0.390273  0.203966
b  0.370510  0.588358 -1.211104 -0.282490
c -0.076058 -1.191804 -0.194667 -0.198982
d -0.579505 -0.310438  0.450602  0.226115
e  0.704108  0.400979  0.836108 -2.467822
f  0.726676  0.565466 -0.422568 -1.613518

In [26]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  0.550067 -1.543896  0.390273  0.203966
b  0.370510  0.588358 -1.211104 -0.282490
d -0.579505 -0.310438  0.450602  0.226115

In [27]:
df1.loc['d':, 'A':'C']

          A         B         C
d -0.579505 -0.310438  0.450602
e  0.704108  0.400979  0.836108
f  0.726676  0.565466 -0.422568